<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dowloader</title>
    <link href="./layout/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="./layout/css/bootstrap-responsive.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <h1>Download {{.Name}}</h1>

      <form action="/{{.Path}}" method="POST">
	<div>
	  <input type="number" name="num">
	</div>
	<div><input type="submit" value="Send"></div>
      </form>
    </div>
  </body>
</html>
